<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Bungee|Cabin|Dosis|Fjalla+One|Josefin+Sans|Oxygen|PT+Sans+Narrow|Rubik|Varela+Round|Work+Sans|Yanone+Kaffeesatz" rel="stylesheet">
  <style>.nav-link{font-family: 'Indie Flower', cursive; font-size: 45px}</style>

</head>
<body>
<%=render 'layouts/navbar'%>
<hr /><div class = "container-fluid px-5 pb-5">
<!-- <form action="/">
  <input type="text" name="post[q]"/>
  <input type="submit" />
</form> -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%if user_signed_in?%>
  <li>
    <%=current_user.email%>님이 login
    <%=link_to('logout',destroy_user_session_path,method: :delete)%>
  </li>
  <%else%>
  <h4>
    <li>
      <%= link_to('login',new_user_session_path)%>
      /
      <%= link_to('sign in',new_user_registration_path)%>
    </li>
  </h4>
<%end%>
<%= yield %>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

</body>
</html>
