<!-- <form action = "/posts" method="post">
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control"  placeholder="Title" name="title">
    <label for="exampleFormControlInput1">Username</label>
    <input type="text" class="form-control"  placeholder="Username" name="username">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Textarea</label>
    <textarea class="form-control" rows="3" name="content"></textarea>
  </div>
  <input type="hidden" name="authenticity_token"  value="<%= form_authenticity_token %>"/><br />
  <input type="submit" name="submit" value="submit">
</form> -->


<%= form_tag("/posts", method: "post", multipart: true) do %>
  <!-- <% text_field_tag("post[title]")%> <hr />
  <%= text_area_tag("post[content]") %> <hr />
  <%= file_field_tag("post[postimage]") %><hr />
  <!- 글 이외에 이미지나 파일들 받으려면 multipart: true 해줘야함->
  <%= submit_tag %> -->

  <div class ="form-group">
    <%=label_tag(:post_title, "title")%>
    <%= text_field_tag("post[title]","",class: "form-control")%> <hr />
  </div>
  <div class ="form-group">
    <%=label_tag(:post_username, "username")%>
    <!-- <%= text_field_tag("post[username]","#{current_user.username}",class: "form-control")%> <hr /> -->
      
  </div>
  <div class ="form-group">
    <%=label_tag(:post_content, "content")%>
    <%= text_area_tag("post[content]","",class: "form-control") %> <hr />
  </div>
  <div class ="form-group">
    <%=label_tag(:post_postimage, "attachedfile")%>
    <%= file_field_tag("post[postimage]", class: "form-control")%><hr />
    <!-- <%= submit_tag %> -->
    <%=button_tag("submit",class:"btn btn-info")%>
  </div>

<% end %>
