<form action="/posts/<%=@post.id%>/edit">
    <div class="d-flex justify-content-center">
      <figure class = "figure">
        <img src="<%=@post.postimage%>" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure." style="height: 70vh;">
        <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
      </figure>
    </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control"  value="<%=@post.title%>" name="title" disabled>
    <label for="exampleFormControlInput1">Username</label>
    <input type="text" class="form-control"  value="<%=@post.user.username%>" name="current_user.username" disabled>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Textarea</label>
    <textarea class="form-control" rows="3" name="content" disabled><%=@post.content%></textarea>
<br />


  </div>

    <a href="/"><button type="button" class="btn btn-info">Home</button></a>

     <% if can? :update, @post %>
         <input class="btn btn-info" type="submit" value="edit">
        <!-- <p><a href="/posts/<%=@post.id%>/edit">수정</a></p> -->
      <% end %>
      <% if can? :destroy, @post %>
        <a href="/posts/<%=@post.id%>" data-confirm="Are you sure?" data-method="delete"><button type="button" class="btn btn-info">Delete</button></a>
        <!-- <p><a href="/posts/<%=@post.id%>" data-method="delete" data-confirm="삭제할래?">삭제</a></p> -->
    <% end %>
</form>
